.root {
    text-align: center;
    padding: 2rem;

    h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .status {
        text-align: center;
        font-size: 1.5rem;

        &.error {
            color: red;
        }
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

        input {
            padding: 0.5rem 1rem;
            border-radius: 10px;
            border: 1px solid grey;
            font-size: 1rem;
            width: 20rem;
        }

        button {
            background-color: #2aa845;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.2s ease;

            &:hover {
            background-color: #218838;
            }
        }
    }
}
