.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px lightgrey;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }

  .card-content {
    padding: 1rem;

    h2 {
      margin: 0 0 0.5rem;
      font-size: 1.5rem;
    }

    .rating {
      color: #FFC107;
      margin-bottom: 0.5rem;
    }
  }

  button {
    background-color: #17A2B8;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}


